body {
    background-color: darkred;
    color: white;
    font-family: Arial, Helvetica, sans-serif;}

h1 {
    margin-left: 20px;
    background-color: darkred;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.namn {
  font-size: 2em;
}

.enhet {
  height: 100px;
  background-color:black;
  color:white;
  margin-bottom: 3px;
}

.typ {
  background-color: white;
  color: black;
}

.plus {
  border: lime;
  background-color: lime;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.minus {
  border: red;
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
